<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT Base ANY>
<!ATTLIST Base id ID #REQUIRED>
<!ELEMENT ContentMaster ANY>
<!ATTLIST ContentMaster id ID #REQUIRED>
<!ELEMENT Homepage ANY>
<!ATTLIST Homepage id ID #REQUIRED>
<!ELEMENT ClientArea ANY>
<!ATTLIST ClientArea id ID #REQUIRED>
<!ELEMENT Slideshow ANY>
<!ATTLIST Slideshow id ID #REQUIRED>
<!ELEMENT Slide ANY>
<!ATTLIST Slide id ID #REQUIRED>
<!ELEMENT Standard ANY>
<!ATTLIST Standard id ID #REQUIRED>
<!ELEMENT ContentPanels ANY>
<!ATTLIST ContentPanels id ID #REQUIRED>
<!ELEMENT ContentPanel ANY>
<!ATTLIST ContentPanel id ID #REQUIRED>
<!ELEMENT ContactForm ANY>
<!ATTLIST ContactForm id ID #REQUIRED>
<!ELEMENT siteMap ANY>
<!ATTLIST siteMap id ID #REQUIRED>
]>
<root id="-1">
  <Homepage id="1060" key="e2b44599-23fa-4c0f-add5-c82f94f2fe98" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2019-02-20T19:37:37" updateDate="2019-07-02T13:08:56" nodeName="Home" urlName="home" path="-1,1060" isDoc="" nodeType="1053" creatorName="Andrew Bright" writerName="Andrew Bright" writerID="0" template="1055" nodeTypeAlias="Homepage" isPublished="true">
    <umbracoNaviHide>0</umbracoNaviHide>
    <keywords><![CDATA[Elm Lodge Boarding kennels Cambridge, Elm Lodge Boarding kennels Cambridgeshire, Elm Lodge Boarding kennels in Wisbech, boarding kennels in Cambridgeshire, boarding kennels Wisbech, dog hotel cambridge, dog hotel in cambridge, luxury dog hotel cambridge, luxury dog hotel in cambridge,dog hotel cambridgeshire, dog hotel in cambridgeshire, Elm Lodge Boarding Kennels, ElmLodge Boarding Kennels, dog kennels, boarding kennels, dog boarding kennels, dog boarding, pet hotel, kennels, boarding kennels, large kennels, extra large kennels, big kennels, designer kennels, dog resort, dog grooming,dog holiday, dogs holiday, pet hotel, canine, boreding kennels, bording kennels]]></keywords>
    <title><![CDATA[Elm Lodge Kennels]]></title>
    <description><![CDATA[Elm Lodge Luxury Boarding Kennels is set in Wisbech Cambridgeshire countryside. Explore our beautiful boarding kennels...]]></description>
    <slideshow><![CDATA[umb://document/d462745d306644aaad07473acd164009]]></slideshow>
    <primaryNavigation><![CDATA[umb://document/e2b4459923fa4c0fadd5c82f94f2fe98,umb://document/8d740829ff78454089f5e7cf7353f407]]></primaryNavigation>
    <facebookLink><![CDATA[https://www.facebook.com/Elm-Lodge-Kennels-953357804752390]]></facebookLink>
    <address><![CDATA[8 Belt Drove Begdale Elm Wisbech, PE14 0BA]]></address>
    <copyright><![CDATA[Elm lodge Kennels |   All Rights Reserved]]></copyright>
    <googleLink><![CDATA[https://plus.google.com/+ElmlodgekennelsCoUk]]></googleLink>
    <email><![CDATA[parkerwarden@googlemail.com]]></email>
    <mobile><![CDATA[07429 700154]]></mobile>
    <telephone><![CDATA[01945 860 883]]></telephone>
    <featureItems><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Headlines columns",
          "areas": [
            {
              "grid": 4,
              "allowAll": true,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Kennel Entrance",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "Entrance into the Elm Lodge Boarding Kennels in Cambridge, Cambridgeshire",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": false
                },
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 2102,
                    "udi": "umb://media/b7bf5d08f5634ef3bc646ae88059a965",
                    "image": "/media/2112/kennel-entrance.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": true,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Private Walk",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "Ronnie the german shepherd enjoying one of our regular private walks through the countryside.",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": true,
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 2104,
                    "udi": "umb://media/3f89f4ccc69b43ce916c715699079cd9",
                    "image": "/media/2113/private_walk.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "a8c7e0d2-6868-7dd0-bf14-4646ae840a4f"
        },
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Exercise Paddock",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "Enclosed and secure exercise paddock where your dog can have a run get regular exercise.",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "0ff5c882-1d83-1923-69a5-77c429894efd"
        },
        {
          "name": "Headlines columns",
          "areas": [
            {
              "grid": 4,
              "allowAll": true,
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 2070,
                    "udi": "umb://media/da09c06f4b4e49bdb6830350c14d13c9",
                    "image": "/media/2092/exercise-paddock.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                },
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 2088,
                    "udi": "umb://media/fc355401423c40188e5cf4c8ab5751fd",
                    "image": "/media/2103/img_0573.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": true,
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 2085,
                    "udi": "umb://media/df472feb3ac7453ebd67a97dc0e5d819",
                    "image": "/media/2100/img_0571.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": true,
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 2089,
                    "udi": "umb://media/aa1ccd5ec8744cc8ba7ed1983a6f462e",
                    "image": "/media/2104/img_0572.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "45a68ec1-c6c1-1a8c-9110-7a558be2df66"
        }
      ]
    }
  ]
}]]></featureItems>
    <bodytext><![CDATA[<p>Elm lodge kennels are family business run by Betty how is fully licensed, based in the village of Wisbech in Cambridgeshire, we ensure a relaxed, safe and friendly atmosphere where the care and welfare of our Dog Guests are of prime importance. Set in a peaceful, landscape away from any busy main roads, the quiet atmosphere and relaxing, rural setting, is the perfect retreat for your dogs whilst you are away. Your dog can enjoy the benefits of our modern, heated dog kennels whilst also having access to acres of garden.</p>
<h2>"Enjoy your holiday,<span> </span><strong>your dog certainly will enjoy theirs with us" </strong></h2>
<p>We take enormous pride in offering the highest standard of care and accommodation for your pets. Every dog is groomed and cared for<span> </span>individually<span> </span>throughout the day by our family who we promise, will cater to your dog's every whim. All at no extra cost to you its all part of our service.</p>]]></bodytext>
    <Slideshow id="2051" key="2b61bb65-da56-469a-a188-cbec9420e80a" parentID="1060" level="2" creatorID="0" sortOrder="0" createDate="2019-03-03T11:54:18" updateDate="2019-03-11T13:07:54" nodeName="Slideshow" urlName="slideshow" path="-1,1060,2051" isDoc="" nodeType="1057" creatorName="Andrew Bright" writerName="Andrew Bright" writerID="0" template="0" nodeTypeAlias="Slideshow" isPublished="true">
      <umbracoNaviHide>1</umbracoNaviHide>
      <Slide id="2052" key="d462745d-3066-44aa-ad07-473acd164009" parentID="2051" level="3" creatorID="0" sortOrder="0" createDate="2019-03-03T11:55:23" updateDate="2019-03-08T15:57:06" nodeName="Kennel Entrance" urlName="kennel-entrance" path="-1,1060,2051,2052" isDoc="" nodeType="1058" creatorName="Andrew Bright" writerName="Andrew Bright" writerID="0" template="0" nodeTypeAlias="Slide" isPublished="true">
        <umbracoNaviHide>0</umbracoNaviHide>
        <bodyText><![CDATA[<p><span>Entrance into the Elm Lodge Boarding Kennels in Cambridge, Cambridgeshire</span></p>]]></bodyText>
        <mainImage><![CDATA[/media/2086/kennel-entrance.jpg]]></mainImage>
      </Slide>
      <Slide id="2054" key="6419e413-3b89-4577-a874-f1359e324e03" parentID="2051" level="3" creatorID="0" sortOrder="1" createDate="2019-03-08T15:30:00" updateDate="2019-03-08T15:58:46" nodeName="Private Walk" urlName="private-walk" path="-1,1060,2051,2054" isDoc="" nodeType="1058" creatorName="Andrew Bright" writerName="Andrew Bright" writerID="0" template="0" nodeTypeAlias="Slide" isPublished="true">
        <umbracoNaviHide>0</umbracoNaviHide>
        <bodyText><![CDATA[<p><span>Ronnie the german shepherd enjoying one of our regular private walks through the countryside.</span></p>]]></bodyText>
        <mainImage><![CDATA[/media/2087/private_walk.jpg]]></mainImage>
      </Slide>
      <Slide id="2055" key="4a250ff7-973e-4325-bb05-ebf9e251e1b2" parentID="2051" level="3" creatorID="0" sortOrder="2" createDate="2019-03-08T15:58:04" updateDate="2019-03-08T15:58:04" nodeName="Dog Exercise Paddock" urlName="dog-exercise-paddock" path="-1,1060,2051,2055" isDoc="" nodeType="1058" creatorName="Andrew Bright" writerName="Andrew Bright" writerID="0" template="0" nodeTypeAlias="Slide" isPublished="true">
        <umbracoNaviHide>0</umbracoNaviHide>
        <bodyText><![CDATA[<p><span>Enclosed and secure exercise paddock where your dog can have a run get regular exercise.</span></p>]]></bodyText>
        <mainImage><![CDATA[/media/2088/exercise_paddock_main.jpg]]></mainImage>
      </Slide>
      <Slide id="2091" key="1f38384f-62b0-4084-83a6-18a2a0894c96" parentID="2051" level="3" creatorID="0" sortOrder="3" createDate="2019-06-20T23:53:00" updateDate="2019-06-20T23:53:00" nodeName="Exercise Paddock" urlName="exercise-paddock" path="-1,1060,2051,2091" isDoc="" nodeType="1058" creatorName="Andrew Bright" writerName="Andrew Bright" writerID="0" template="0" nodeTypeAlias="Slide" isPublished="true">
        <umbracoNaviHide>0</umbracoNaviHide>
        <mainImage><![CDATA[/media/2106/img_0574.jpg]]></mainImage>
      </Slide>
      <Slide id="2092" key="a4357f1b-d47f-44b1-81d0-842da5b6c28c" parentID="2051" level="3" creatorID="0" sortOrder="4" createDate="2019-06-20T23:58:09" updateDate="2019-06-20T23:58:09" nodeName="Exercise Paddock (1)" urlName="exercise-paddock-1" path="-1,1060,2051,2092" isDoc="" nodeType="1058" creatorName="Andrew Bright" writerName="Andrew Bright" writerID="0" template="0" nodeTypeAlias="Slide" isPublished="true">
        <umbracoNaviHide>0</umbracoNaviHide>
        <mainImage><![CDATA[/media/2107/img_0575.jpg]]></mainImage>
      </Slide>
      <Slide id="2093" key="b847bbd5-d0bb-4704-8873-84f575f6e032" parentID="2051" level="3" creatorID="0" sortOrder="5" createDate="2019-06-21T00:02:33" updateDate="2019-06-21T00:02:33" nodeName="Exercise Paddock (2)" urlName="exercise-paddock-2" path="-1,1060,2051,2093" isDoc="" nodeType="1058" creatorName="Andrew Bright" writerName="Andrew Bright" writerID="0" template="0" nodeTypeAlias="Slide" isPublished="true">
        <umbracoNaviHide>0</umbracoNaviHide>
        <mainImage><![CDATA[/media/2108/img_0576.jpg]]></mainImage>
      </Slide>
    </Slideshow>
    <Standard id="2059" key="8d740829-ff78-4540-89f5-e7cf7353f407" parentID="1060" level="2" creatorID="0" sortOrder="1" createDate="2019-03-11T11:40:36" updateDate="2019-07-02T16:51:29" nodeName="Kennels" urlName="kennels" path="-1,1060,2059" isDoc="" nodeType="1059" creatorName="Andrew Bright" writerName="Andrew Bright" writerID="0" template="2062" nodeTypeAlias="Standard" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
      <keywords><![CDATA[Elm Lodge Boarding kennels Cambridge, Elm Lodge Boarding kennels Cambridgeshire, Elm Lodge Boarding kennels in Wisbech, boarding kennels in Cambridgeshire, boarding kennels Wisbech, dog hotel cambridge, dog hotel in cambridge, luxury dog hotel cambridge, luxury dog hotel in cambridge,dog hotel cambridgeshire, dog hotel in cambridgeshire, Elm Lodge Boarding Kennels, ElmLodge Boarding Kennels, dog kennels, boarding kennels, dog boarding kennels, dog boarding, pet hotel, kennels, boarding kennels, large kennels, extra large kennels, big kennels, designer kennels, dog resort, dog grooming,dog holiday, dogs holiday, pet hotel, canine, boreding kennels, bording kennels, Kennels, bedding, heating]]></keywords>
      <title><![CDATA[Kennels]]></title>
      <description><![CDATA[Elm lodge kennels a look at the kennels avaliable for your dog, If you wish you are more than welcome to bring your dogs own bedding, food and toys to make them feel at home, but otherwise we are more than happy to provide everything.]]></description>
      <favIcon><![CDATA[paw]]></favIcon>
      <bodyText><![CDATA[<p>Elm lodge is a very special place with a relaxed, friendly atmosphere with that personal touch ensuring our Dog Guests feel right at home. We ensure we have the best kennel facilities possible, so we are always looking to invest in upgrading our facilities to make sure that we can continue to provide great service. <br /><br />The kennels themselves are situated in a quiet corner of the yard, there are 12 kennels within the building of varying sizes to cater suitably for all size of dogs.<br />If you wish you are more than welcome to bring your dogs own bedding, food and toys to make them feel at home, but otherwise we are more than happy to provide everything.</p>
<p class="quotation">"We can administer injections if required, and there is NO CHARGE for administering any kind of medication for your dog."</p>
<p>Our Kennels are set in our beautiful gardens. A walk through the gardens takes you to reception and then on to our exercise paddock which is securely fenced for your dog's safety, and means they have the freedom to run and play lead free..</p>]]></bodyText>
      <sections><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></sections>
      <contentPanels><![CDATA[umb://document/0d97f44008e845e3acae49c23aad69d4,umb://document/1631ef8a58bd43b1a5828f1c7c5cde1a]]></contentPanels>
      <items><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Headlines columns",
          "areas": [
            {
              "grid": 4,
              "allowAll": true,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Rio",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": {
                    "id": 2061,
                    "udi": "umb://media/8928557c8e3d49e5a7256da1bcc6deae",
                    "image": "/media/2089/new-kennels-011.jpg",
                    "caption": ""
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                },
                {
                  "value": "all set for bed with his own leopard print blanket.",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": true,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Tiddles",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": {
                    "id": 2063,
                    "udi": "umb://media/a5b640ec3cb14023a19007e45f5e61ae",
                    "image": "/media/2090/kennels-tiddles.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                },
                {
                  "value": "enjoying his stay for the night, snuggled up in a fleece blanket",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": true,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Single Kennel",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": {
                    "id": 2064,
                    "udi": "umb://media/d237f981109141bf956e616d08cdbdcd",
                    "image": "/media/2091/kennels-empty.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                },
                {
                  "value": "Heres one of our empty boarding kennels ready for your dog!",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "473cf42b-9e60-386c-150f-2ec4a3b4063e"
        },
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Double Kennel",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "b5e776d1-1f4c-5688-8693-66b38546b582"
        },
        {
          "label": "Article",
          "name": "Article",
          "areas": [
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "A spacious double boarding kennel ready for your dogs!",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 8,
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 2100,
                    "udi": "umb://media/c6fd572510e84484ba48f04baf5ef536",
                    "image": "/media/2110/img_0570.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "cd1ec6c9-dc12-6018-d4c3-368693299cd9"
        }
      ]
    }
  ]
}]]></items>
    </Standard>
    <Standard id="2067" key="1a208459-f931-4ef0-a95e-977ad5ff2e09" parentID="1060" level="2" creatorID="0" sortOrder="2" createDate="2019-03-18T16:22:42" updateDate="2019-07-02T16:53:38" nodeName="Facilities" urlName="facilities" path="-1,1060,2067" isDoc="" nodeType="1059" creatorName="Andrew Bright" writerName="Andrew Bright" writerID="0" template="2062" nodeTypeAlias="Standard" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
      <keywords><![CDATA[Elm Lodge Boarding kennels Cambridge, Elm Lodge Boarding kennels Cambridgeshire, Elm Lodge Boarding kennels in Wisbech, boarding kennels in Cambridgeshire, boarding kennels Wisbech, dog hotel cambridge, dog hotel in cambridge, luxury dog hotel cambridge, luxury dog hotel in cambridge,dog hotel cambridgeshire, dog hotel in cambridgeshire, Elm Lodge Boarding Kennels, ElmLodge Boarding Kennels, dog kennels, boarding kennels, dog boarding kennels, dog boarding, pet hotel, kennels, boarding kennels, large kennels, extra large kennels, big kennels, designer kennels, dog resort, dog grooming,dog holiday, dogs holiday, pet hotel, canine, boarding kennels, boarding kennels, Facilities]]></keywords>
      <title><![CDATA[Facilities]]></title>
      <favIcon><![CDATA[cog]]></favIcon>
      <sections><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></sections>
      <contentPanels><![CDATA[umb://document/1631ef8a58bd43b1a5828f1c7c5cde1a]]></contentPanels>
      <items><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "label": "Article",
          "name": "Article",
          "areas": [
            {
              "grid": 4,
              "hasConfig": false,
              "controls": []
            },
            {
              "grid": 8,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Undercover Runs",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 2072,
                    "udi": "umb://media/92bd849ee4eb474d8a6d3896c7b8a796",
                    "image": "/media/2094/undercover-runs.jpg",
                    "caption": "Which provide exercise and interaction even with typical British weather."
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "390f9ac9-40db-9dce-caf0-db55814df91a"
        },
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Reception",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "Reception area which has a modern food preparation area.",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "7b65ad6c-cb8e-383e-938f-084d06607e9a"
        },
        {
          "name": "Headlines columns",
          "areas": [
            {
              "grid": 4,
              "allowAll": true,
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 2071,
                    "udi": "umb://media/11a82aec1a374c9c867a754fec3e4eca",
                    "image": "/media/2093/reception-tiddles.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": true,
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 2090,
                    "udi": "umb://media/f6ec6067a6644414870fb0672c35f8ef",
                    "image": "/media/2105/img_0562.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": true,
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 2095,
                    "udi": "umb://media/2273d546962d4b399536865bc8465fc8",
                    "image": "/media/2109/img_0581.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "f9d53bcf-95a4-68cb-7f17-f93ff5bb6b29"
        },
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Exercise Paddock",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "Enclosed and secure exercise paddock where your dog can have a run get regular exercise.",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "0c787efb-22eb-07f9-6397-6c297dcc19a9"
        },
        {
          "name": "Headlines columns",
          "areas": [
            {
              "grid": 4,
              "allowAll": true,
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 2070,
                    "udi": "umb://media/da09c06f4b4e49bdb6830350c14d13c9",
                    "image": "/media/2092/exercise-paddock.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                },
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 2088,
                    "udi": "umb://media/fc355401423c40188e5cf4c8ab5751fd",
                    "image": "/media/2103/img_0573.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": true,
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 2084,
                    "udi": "umb://media/21332060e9574a2fbbc9f53771e635fa",
                    "image": "/media/2099/img_0569.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                },
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 2089,
                    "udi": "umb://media/aa1ccd5ec8744cc8ba7ed1983a6f462e",
                    "image": "/media/2104/img_0572.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": true,
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 2085,
                    "udi": "umb://media/df472feb3ac7453ebd67a97dc0e5d819",
                    "image": "/media/2100/img_0571.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "e89144f6-4e3e-a4ba-3bc2-2c401a925f2a"
        },
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Play area",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "384d0b28-249b-f911-68af-e4ec0362c006"
        },
        {
          "name": "Headlines columns",
          "areas": [
            {
              "grid": 4,
              "allowAll": true,
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 2083,
                    "udi": "umb://media/a0e6a0b87fa449c3b70dc01c97fc7b9c",
                    "image": "/media/2098/img_0561.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": true,
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 2086,
                    "udi": "umb://media/e1948632c91e485dadbeb644a1b739bb",
                    "image": "/media/2101/img_0565.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": true,
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 2101,
                    "udi": "umb://media/1dab44647b204d20b1dc4163df619bc9",
                    "image": "/media/2111/img_0583.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "64413fcd-a1cc-c160-f9a1-2af9ab2b3686"
        },
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Private Walk",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "Private walks through the countryside.",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "b76a6fa1-69a4-0b35-6871-ae176aa4af00"
        },
        {
          "label": "Article",
          "name": "Article",
          "areas": [
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 2087,
                    "udi": "umb://media/c5c3655fe9e1432b87ff4161ee798ced",
                    "image": "/media/2102/img_0564.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 8,
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 2073,
                    "udi": "umb://media/cbeef5a1271a44e388b8e7f6bd3ed6b6",
                    "image": "/media/2095/private-walk.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "f35d35c8-2431-5187-6ff6-d4eb947077cc"
        }
      ]
    }
  ]
}]]></items>
    </Standard>
    <Standard id="2074" key="7363d2f6-681e-41aa-9e9e-1eeea8924edf" parentID="1060" level="2" creatorID="0" sortOrder="3" createDate="2019-03-18T16:44:22" updateDate="2019-07-02T16:59:14" nodeName="About Us" urlName="about-us" path="-1,1060,2074" isDoc="" nodeType="1059" creatorName="Andrew Bright" writerName="Andrew Bright" writerID="0" template="2062" nodeTypeAlias="Standard" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
      <keywords><![CDATA[Elm Lodge Boarding kennels Cambridge, Elm Lodge Boarding kennels Cambridgeshire, Elm Lodge Boarding kennels in Wisbech, boarding kennels in Cambridgeshire, boarding kennels Wisbech, dog hotel cambridge, dog hotel in cambridge, luxury dog hotel cambridge, luxury dog hotel in cambridge,dog hotel cambridgeshire, dog hotel in cambridgeshire, Elm Lodge Boarding Kennels, ElmLodge Boarding Kennels, dog kennels, boarding kennels, dog boarding kennels, dog boarding, pet hotel, kennels, boarding kennels, large kennels, extra large kennels, big kennels, designer kennels, dog resort, dog grooming,dog holiday, dogs holiday, pet hotel, canine, boreding kennels, bording kennels, About, Map]]></keywords>
      <title><![CDATA[About Us]]></title>
      <favIcon><![CDATA[group]]></favIcon>
      <bodyText><![CDATA[<p><span>We are open </span><strong>MONDAY TO SUNDAY</strong><span> </span><strong>PLEASE DO NOT ARRIVE AFTER 8PM</strong><br /><span>We charge for day of arrival and day of collection. However, there is a reduction for multiple dogs and any pet not collected by 8pm will be subject to a charge of one extra day’s boarding. </span><br /><br /><span>Payment may be made by cheque accompanied by a cheque guarantee card or cash. </span><br /><br /><span>Please </span><strong><a data-udi="umb://document/bf12a3cf2d9d4142b0babca4e9de7ace" href="/{localLink:umb://document/bf12a3cf2d9d4142b0babca4e9de7ace}" target="_top" title="Contact Us">contact us</a> </strong><span>to arrange a visit.</span></p>]]></bodyText>
      <contentPanels><![CDATA[umb://document/0d0a10e3f53b47cd903ccd2910370510,umb://document/1631ef8a58bd43b1a5828f1c7c5cde1a]]></contentPanels>
    </Standard>
    <ContactForm id="2075" key="bf12a3cf-2d9d-4142-b0ba-bca4e9de7ace" parentID="1060" level="2" creatorID="0" sortOrder="4" createDate="2019-03-18T16:47:37" updateDate="2019-08-05T14:20:32" nodeName="Contact Us" urlName="contact-us" path="-1,1060,2075" isDoc="" nodeType="2069" creatorName="Andrew Bright" writerName="Andrew Bright" writerID="0" template="2068" nodeTypeAlias="ContactForm" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
      <keywords><![CDATA[Elm Lodge Boarding kennels Cambridge, Elm Lodge Boarding kennels Cambridgeshire, Elm Lodge Boarding kennels in Wisbech, boarding kennels in Cambridgeshire, boarding kennels Wisbech, dog hotel cambridge, dog hotel in cambridge, luxury dog hotel cambridge, luxury dog hotel in cambridge,dog hotel cambridgeshire, dog hotel in cambridgeshire, Elm Lodge Boarding Kennels, ElmLodge Boarding Kennels, dog kennels, boarding kennels, dog boarding kennels, dog boarding, pet hotel, kennels, boarding kennels, large kennels, extra large kennels, big kennels, designer kennels, dog resort, dog grooming,dog holiday, dogs holiday, pet hotel, canine, boreding kennels, bording kennels, About, Map, Contact]]></keywords>
      <title><![CDATA[Contact Us]]></title>
      <favIcon><![CDATA[envelope]]></favIcon>
      <bodyText><![CDATA[<p><span>We are based in Wisbech near Cambridgeshire, If you are interested in our services give us a call on 07429 700154, email at parkerwarden@googlemail.com or fill out the form below and I'll get back to you please get in touch!</span></p>]]></bodyText>
      <contentPanels><![CDATA[umb://document/0d0a10e3f53b47cd903ccd2910370510]]></contentPanels>
      <emailSubject><![CDATA[Elm Lodge Kennels Contact Form]]></emailSubject>
      <recipientEmailAddress><![CDATA[reception@elmlodgekennels.co.uk]]></recipientEmailAddress>
      <senderEmailAddress><![CDATA[reception@elmlodgekennels.co.uk]]></senderEmailAddress>
      <thankYouPage><![CDATA[umb://document/a8248afdd42c4fe29af5a871f3334cb5]]></thankYouPage>
      <Standard id="2076" key="a8248afd-d42c-4fe2-9af5-a871f3334cb5" parentID="2075" level="3" creatorID="0" sortOrder="0" createDate="2019-03-18T16:48:38" updateDate="2019-03-18T16:48:38" nodeName="Thank You" urlName="thank-you" path="-1,1060,2075,2076" isDoc="" nodeType="1059" creatorName="Andrew Bright" writerName="Andrew Bright" writerID="0" template="2062" nodeTypeAlias="Standard" isPublished="true">
        <umbracoNaviHide>0</umbracoNaviHide>
        <title><![CDATA[Thank You]]></title>
        <bodyText><![CDATA[<p>We will be sure to get back to you as soon possible, should you need to contact us promptly please call 07429 700154.</p>
<p> </p>
<p>Kind Regards</p>
<p> </p>
<p>Elm Lodge Kennels</p>]]></bodyText>
      </Standard>
    </ContactForm>
    <siteMap id="2082" key="2a8c5b11-e308-467d-bac0-753f4e533b00" parentID="1060" level="2" creatorID="0" sortOrder="5" createDate="2019-04-16T16:21:40" updateDate="2019-07-02T17:09:08" nodeName="Site Map" urlName="site-map" path="-1,1060,2082" isDoc="" nodeType="2081" creatorName="Andrew Bright" writerName="Andrew Bright" writerID="0" template="2080" nodeTypeAlias="siteMap" isPublished="true">
      <umbracoNaviHide>1</umbracoNaviHide>
    </siteMap>
  </Homepage>
  <ContentPanels id="2058" key="2ac0e7e6-72d8-4d70-b91e-77fc43cfc6f4" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2019-03-11T11:37:13" updateDate="2019-03-11T11:37:13" nodeName="Content Panels" urlName="content-panels" path="-1,2058" isDoc="" nodeType="2056" creatorName="Andrew Bright" writerName="Andrew Bright" writerID="0" template="0" nodeTypeAlias="ContentPanels" isPublished="true">
    <umbracoNaviHide>0</umbracoNaviHide>
    <ContentPanel id="2065" key="0d97f440-08e8-45e3-acae-49c23aad69d4" parentID="2058" level="2" creatorID="0" sortOrder="0" createDate="2019-03-11T12:53:13" updateDate="2019-07-02T16:47:31" nodeName="Kennel Features" urlName="kennel-features" path="-1,2058,2065" isDoc="" nodeType="2057" creatorName="Andrew Bright" writerName="Andrew Bright" writerID="0" template="0" nodeTypeAlias="ContentPanel" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
      <panelHeading><![CDATA[THE KENNEL FEATURES]]></panelHeading>
      <panelContent><![CDATA[<ul class="divided">
<li>Flat screen TV &amp; canvas paintings for that homely feel</li>
<li>Radiator Heating for a constant warm temperature for those chilly nights</li>
<li>A dedicated member of staff to cater to all your dog's needs</li>
<li>Double Glazed windows &amp; doors</li>
<li>Radio/CD playing relaxing music to soothe &amp; relax</li>
</ul>]]></panelContent>
      <panel><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "THE KENNEL FEATURES",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<hr class=\"star-primary\" />\n<ul class=\"divided\">\n<li>Flat screen TV &amp; canvas paintings for that homely feel</li>\n<li>Radiator Heating for a constant warm temperature for those chilly nights</li>\n<li>A dedicated member of staff to cater to all your dog's needs</li>\n<li>Double Glazed windows &amp; doors</li>\n<li>Radio/CD playing relaxing music to soothe &amp; relax</li>\n</ul>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": true
                }
              ],
              "hasActiveChild": true,
              "active": true
            }
          ],
          "hasConfig": false,
          "id": "7bbfeb33-5cc6-d2a7-41f7-433bf9990a54",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}]]></panel>
    </ContentPanel>
    <ContentPanel id="2066" key="1631ef8a-58bd-43b1-a582-8f1c7c5cde1a" parentID="2058" level="2" creatorID="0" sortOrder="1" createDate="2019-03-11T13:02:22" updateDate="2019-07-02T16:50:34" nodeName="Price List" urlName="price-list" path="-1,2058,2066" isDoc="" nodeType="2057" creatorName="Andrew Bright" writerName="Andrew Bright" writerID="0" template="0" nodeTypeAlias="ContentPanel" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
      <panelHeading><![CDATA[PRICES LIST - PER DAY]]></panelHeading>
      <panelContent><![CDATA[<p>This includes walks through our private walk area, meals and treats, regular checks throughout the day, and night security. Medication is given if required. Diabetic pets welcome.</p>
<ul class="divided">
<li>Small Dog - £10.00</li>
<li>Medium Dog - £10.00</li>
<li>Large Dog - £12.00</li>
</ul>]]></panelContent>
      <panel><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "PRICES LIST - PER DAY",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<hr class=\"star-primary\" />\n<p>This includes walks through our private walk area, meals and treats, regular checks throughout the day, and night security. Medication is given if required. Diabetic pets welcome.</p>\n<ul class=\"divided\">\n<li>Small Dog - £10.00</li>\n<li>Medium Dog - £10.00</li>\n<li>Large Dog - £12.00</li>\n</ul>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": true
                }
              ],
              "hasActiveChild": true,
              "active": true
            }
          ],
          "hasConfig": false,
          "id": "f74fe6d9-5ce1-bdb0-7355-2a9ce8944b59",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}]]></panel>
    </ContentPanel>
    <ContentPanel id="2078" key="0d0a10e3-f53b-47cd-903c-cd2910370510" parentID="2058" level="2" creatorID="0" sortOrder="2" createDate="2019-03-18T16:52:31" updateDate="2019-07-02T16:57:25" nodeName="Directions" urlName="directions" path="-1,2058,2078" isDoc="" nodeType="2057" creatorName="Andrew Bright" writerName="Andrew Bright" writerID="0" template="0" nodeTypeAlias="ContentPanel" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
      <panelHeading><![CDATA[DIRECTIONS FROM THE CROMWELL RD ROUNDABOUT]]></panelHeading>
      <panelContent><![CDATA[<ul class="divided">
<li>Take the 3rd exit onto Redmoor Ln</li>
<li>Keep right to continue toward Belt Drove</li>
<li>Turn right onto Belt Drove</li>
<li>We are approximately 300 yards along the road</li>
</ul>]]></panelContent>
      <panel><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "DIRECTIONS FROM THE CROMWELL RD ROUNDABOUT",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<hr class=\"star-primary\" />\n<ul class=\"divided\">\n<li>Take the 3rd exit onto Redmoor Ln</li>\n<li>Keep right to continue toward Belt Drove</li>\n<li>Turn right onto Belt Drove</li>\n<li>We are approximately 300 yards along the road</li>\n</ul>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": true
                }
              ],
              "hasActiveChild": true,
              "active": true
            }
          ],
          "hasConfig": false,
          "id": "47617d0f-370d-0e9e-13d5-7c2cd5c17239",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}]]></panel>
    </ContentPanel>
  </ContentPanels>
</root>